<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Parallax </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  appParallaxHeader
  parallaxImagePath="/assets/autumn.jpeg"
  [parallaxHeight]="300"
>
  <div class="main-content">
    <ion-list lines="none">
      <ion-item *ngFor="let item of items; let i = index">
        <ion-avatar slot="start">
          <img src="https://avatars.dicebear.com/api/bottts/{{i}}.svg" />
        </ion-avatar>
        <ion-label>Hello there</ion-label>
      </ion-item>
    </ion-list>
    <img src="http://placehold.it/54" />
  </div>
</ion-content>
